* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  /* background-color: #0074cc; */
  /* color: white; */
  text-align: center;
  padding: 10px;
  margin-bottom: 50px;
}

h1[data-testid="slackUserName"] {
  font-size: 3rem;
  margin: 0;
}
div,
p {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 10px;
}
img[data-testid="slackDisplayImage"] {
  max-width: 250px;
  height: 250px;
  border-radius: 50%;
}

.container {
  max-width: 65%;
  min-width: 40%;
  margin: 8vh auto;
  padding: 1.5em;
  background-color: #d9afd9;
  background-image: linear-gradient(0deg, #d9afd9 0%, #97d9e1 100%);
  border-radius: 20px;
}
